@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}

body {
  margin: 0;
}

html {
  scroll-padding-top: 90px;
}

img {
  max-width: 100%;
}
